.task{
    display: inline-block;
    position: relative;
    top: 94px;
    left: 296px;
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif ;
}

#list{
    position: relative;
    top: 11px;
    left: 415px;
    font-size: 41px;
    font-family: 'raleway', sans-serif;
    color: gray;
    font-weight: normal;
}
.material-icons{
    color: red;
    position: relative;
    top: -50px;
    left: 845px;
    font-size: 40px;
}
.plus1{
    position: relative;
    top: -95px;
    left: 900px;
    font-size: 35px;
    font-family: 'raleway', sans-serif;
    color: gray;
    font-weight: normal;
}
.box{
    display: inline-block;
    position: absolute;
    top: 223px;
    left: 307px;
    border: 2px solid tomato;
    height: 330px;
    width: 205px;
    border-radius: 5px;
    align-items: center;
    /* margin: auto;
    width: 60%; */
}
.paris{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 223px;
    left: 307px;
    border: 2px solid tomato;
    height: 330px;
    width: 205px;
    border-radius: 5px;
    align-items: center;
}
.todo{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 223px;
    left: 580px;
    border: 2px solid tomato;
    height: 330px;
    width: 205px;
    border-radius: 5px;
    align-items: center;
}
.todo2{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 223px;
    left: 853px;
    border: 2px solid tomato;
    height: 330px;
    width: 205px;
    border-radius: 5px;
    align-items: center;
}
.box2{
    border: 2px solid tomato;
    height: 330px;
    width: 205px;
    border-radius: 5px;
    margin: auto;
    width: 400px;
    height: 400px;
}
hr{
    margin-left: 40px;
}
p{
    color: red;
    text-decoration: line-through;
    font-size: 25px;
    position: relative;
    left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    color: tomato;
    text-align: center;
    font-family: ar;
}
label{
    font-size: 25px;
}
input{
    width: 20px;
    height: 20px;
}




.newlist{
    border: 2px solid tomato;
    height: 200px;
    width: 390px;
    border-radius: 10px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: -90px;
    left: 485px;
}
#add{
    text-decoration: none;
}
p{
    color: tomato;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 10px;
}
input{
    color: tomato;
    height: 40px;
    width: 270px;
    border-radius: 50px;
    border-color: tomato;
   position: relative;
   top: 15px;
   left: 55px;
}
button{
    color: white;
    border-color: tomato;
    background-color: tomato;
    border-radius: 50px;
    height: 40px;
    width: 90px;
    font-size: 20px;
    position: relative;
    left: 150px;
    top: 15px;

}
.parents{
    filter: blur(5px);
    z-index: -1;
}